<!-- <lib-mat-multi-select-grid
    [listItems] = "numberList$ | async"
    [showClearButton]="showClearButton"
    (onAdd)="onMonthDayAdded($event)"
    (onRemove)="onMonthDayRemoved($event)"
    (onClear)="onMonthDayClear()">
</lib-mat-multi-select-grid>  -->

<!-- [pipeToApply]="gridListPipe" -->

<!--Template forms example-->
<lib-mat-multi-select-grid
    [(ngModel)] = "selectedNumber"
    [listItems] = "numberList$ | async"
    [showClearButton]="showClearButton"
    (onAdd)="onMonthDayAdded($event)"
    (onRemove)="onMonthDayRemoved($event)"
    (onClear)="onMonthDayClear()">
</lib-mat-multi-select-grid> 

<!--Reactive forms example-->
<!-- <form [formGroup]="formGroup">
    <app-grid-list
        formControlName="selectedHero" 
        [listItems] = "heroesList$ | async"
        [showClearButton]="false"
        (onAdd)="onMonthDayAdded($event)"
        (onRemove)="onMonthDayRemoved($event)"
        (onClear)="onMonthDayClear()">
    </app-grid-list>   
</form> -->


