<!-- <lib-mat-multi-select-grid
    [listItems] = "numberList$ | async"
    [showClearButton]="showClearButton"
    (addEvent)="onMonthDayAdded($event)"
    (removeEvent)="onMonthDayRemoved($event)"
    (clearEvent)="onMonthDayClear()">
</lib-mat-multi-select-grid>  -->

<!--Template forms example-->
<label>Template forms example</label>
<lib-mat-multi-select-grid
    [(ngModel)] = "selectedNumbers"
    [listItems] = "numberList$ | async"
    [showClearButton]="showClearButton"
    (addEvent)="onMonthDayAdded($event)"
    (removeEvent)="onMonthDayRemoved($event)"
    (clearEvent)="onMonthDayClear()">
</lib-mat-multi-select-grid> 
\
<!--Pipe example-->
<label>Pipe example</label>
<lib-mat-multi-select-grid
    [listItems] = "weeksList$ | async"
    [showClearButton]="showClearButton"
    [pipeToApply]="usedPipe">
</lib-mat-multi-select-grid> 

<!--Reactive forms example-->
<label>Reactive forms example</label>
<form [formGroup]="formGroup">
    <app-grid-list
        formControlName="selectedHero" 
        [listItems] = "heroesList$ | async"
        [showClearButton]="false"
        (addEvent)="onMonthDayAdded($event)"
        (removeEvent)="onMonthDayRemoved($event)"
        (clearEvent)="onMonthDayClear()">
    </app-grid-list>   
</form>


